<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
</head>
<body>

<div class="container">

    <h3> 새글쓰기 </h3>

    <div class="input-group" >
        <span class="input-group-addon">email</span>
        <input type="email" class="form-control" placeholder="Enter email" name="email">
    </div>
    <div class="input-group"  >
        <span class="input-group-addon">password</span>
        <input type="password" class="form-control" placeholder="Enter Password" name="password">
    </div>
    <div class="input-group" >
        <span class="input-group-addon">제목</span>
        <input type="text" class="form-control" placeholder="제목" name="title">
    </div>

    <div class="input-group" >
        <span class="input-group-addon">본문</span>
        <textarea class="form-control" rows="3" placeholder="본문" name="article"></textarea>
    </div>

    <div class="button-group">
        <button type="button" class="btn btn-default cancel" onclick="cancel()">취소</button>
        <button type="button" class="btn btn-default submit" >완료</button>
    </div>

</div>

</body>
<script>
    $('button.cancel').click(function(e) {
        window.location = "/test";
    });

    $('button.submit').click(function(e) {

        var params = {};
        $(".form-control").each(function(){
            params[$(this).attr("name")] = $(this).val();
        });

        $.ajax({
            type: "POST",
            data: params,
            url: "/api/articles",

            success: function (result) {
                window.location = "/test"
            },
            error: function (textStatus, errorThrown) {

            }
        });//ajax
    });


</script>

</html>